/*
 * Settings – Colors
 */

$s-color-primary: #00f;
$s-color-secondary: #54e8a5;

$s-color-error: #f00;
$s-color-success: #0f0;
$s-color-alert: $s-color-primary;

$s-color-dark: #000;
$s-color-light: #fff;

$s-color-text: $s-color-dark;
