/*
 * Base
 */

html {
  @include word-wrap;

  box-sizing: border-box;
  color: $color-dark;
  font-feature-settings: 'liga' 1, 'kern' 1;
  font-kerning: normal;
  font-size: (100% / 1.6); // Sets 1rem equal to 10px
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  text-size-adjust: none;
}

body {
  @include font-style-base;

  min-height: 100%;
  padding: 2rem 0;
}

header,
main,
footer {
  @include set-gutter('large');
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/*
 * Elements
 */
h1 {
  @include font-style-heading-1;

  margin-bottom: 0.5em;
}

h2 {
  @include font-style-heading-2;

  margin-bottom: 0.5em;
}

h3,
h4,
h5,
h6 {
  @include font-style-heading-3;

  margin-bottom: 0.5em;
}

p {
  margin-bottom: 1em;
}

a,
button,
input,
select,
textarea {
  @include keyboard-focus;
}

a {
  @include reset-link;

  transition: color $s-animation-duration-default $s-animation-easing-default;
  @include on-event {
    color: $color-primary;
  }
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  @include reset-button;

  border: 1px solid $color-dark;
  color: $color-dark;
  margin: 1em 0.5em;
  padding: 0.5em 1em;
  transition: color $s-animation-duration-default $s-animation-easing-default,
    border-color $s-animation-duration-default $s-animation-easing-default;

  @include on-event {
    border-color: $color-primary;
    color: $color-primary;
  }
}

ul {
  list-style: '–' outside none;
  padding-left: 0.75em;

  li {
    padding-left: 0.5em;
  }
}

ol {
  padding-left: 1.5em;

  li {
    padding-left: 0.25em;
  }
}

hr {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

blockquote {
  background-color: $color-light-gray;
  margin: 1em 0;
  padding: 1em;
}

pre {
  font-family: $s-font-family-monospace;
}
