/*
 * ------------------------------------------------
 * Base
 * ------------------------------------------------
 */

@use '../abstracts/' as *;

html {
  @include word-wrap;

  box-sizing: border-box;
  color: $color-dark;
  font-feature-settings: 'liga' 1, 'kern' 1;
  font-kerning: normal;
  font-size: div(100%, 1.6); // Sets 1rem equal to 10px
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  text-size-adjust: none;
}

body,
input,
select,
button,
textarea {
  /* Set body font family and some finicky elements */
  @include font-style-base;
}

::selection {
  /* Set background color for selected text */
  background: $color-primary;
  color: $color-light;
}

body {
  min-height: 100%;
  padding: 2rem 0;
}

header,
main,
footer {
  @include set-gutter('medium');
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

/*
 * ------------------------------------------------
 * Headings
 * ------------------------------------------------
 */

h1 {
  @include font-style-heading-1;

  margin-bottom: 0.5em;
}

h2 {
  @include font-style-heading-2;

  margin-bottom: 0.5em;
}

h3,
h4,
h5,
h6 {
  @include font-style-heading-3;

  margin-bottom: 0.5em;
}

/*
 * ------------------------------------------------
 * Text
 * ------------------------------------------------
 */

p {
  margin-bottom: 1em;
}

abbr {
  cursor: help;
}

mark {
  background: $color-secondary;
  padding: px2rem(1) px2rem(4);
}

blockquote {
  background-color: $color-gray-light;
  border-left: 0.5rem solid $color-dark;
  margin: 1em 0;
  padding: 1em;

  *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/*
 * ------------------------------------------------
 * Links and Buttons
 * ------------------------------------------------
 */

a,
button,
input,
select,
textarea {
  @include keyboard-focus;
}

a {
  @include reset-link;

  transition: color $s-animation-duration-default $s-animation-easing-default;
  @include on-event {
    color: $color-primary;
  }
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  @include reset-button;

  background: $color-primary;
  border: px2rem(1) solid $color-primary;
  border-radius: $s-border-radius-default;
  box-sizing: border-box;
  color: $color-light;
  cursor: pointer;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: background-color $s-animation-duration-default
      $s-animation-easing-default,
    color $s-animation-duration-default $s-animation-easing-default,
    border-color $s-animation-duration-default $s-animation-easing-default;
  white-space: nowrap;

  @include on-event {
    background: $color-dark;
    border-color: $color-dark;
    color: $color-light;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 50%;
  }
}

/*
 * ------------------------------------------------
 * Forms
 * ------------------------------------------------
 */

textarea,
select,
input {
  background: $color-gray-light;
  border: px2rem(1) solid $color-gray;
  border-radius: $s-border-radius-default;
  box-shadow: none;
  color: $color-dark;
  max-width: 100%;
  padding: px2rem(6) px2rem(12);
}

fieldset {
  border: px2rem(1) solid $color-gray;
  border-radius: $s-border-radius-default;
  margin-top: 1rem;
  padding: 2rem;
}

legend {
  padding: auto 1em;
}

/*
 * ------------------------------------------------
 * Lists
 * ------------------------------------------------
 */

ul {
  list-style: '–' outside none;
  padding-left: 0.75em;

  li {
    padding-left: 0.5em;
  }
}

ol {
  padding-left: 1.5em;

  li {
    padding-left: 0.25em;
  }
}

dt {
  font-weight: $s-font-weight-bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: '→ ';
}

/*
 * ------------------------------------------------
 * Images
 * ------------------------------------------------
 */

img {
  max-width: 100%;
}

figure {
  figcaption {
    font-style: italic;
  }

  img {
    margin-bottom: 0;
  }
}

/*
 * ------------------------------------------------
 * Monospace Things
 * ------------------------------------------------
 */

pre,
code,
kbd,
samp {
  background: $color-gray-light;
  border: px2rem(1) solid $color-gray;
  border-radius: $s-border-radius-default;
  font-family: $s-font-family-monospace;
  padding: px2rem(1) px2rem(4);
}

pre {
  max-width: 100%;
  overflow: auto;
  padding: px2rem(10) px2rem(20);
}

/*
 * ------------------------------------------------
 * Tables
 * ------------------------------------------------
 */

td,
th {
  border: px2rem(1) solid $color-gray;
  padding: 0.5rem;
  text-align: left;
}

th {
  background: $color-gray-light;
}

tr:nth-child(odd) {
  /* Set every other cell slightly darker. Improves readability. */
  background: $color-gray-light;
}

table caption {
  font-weight: $s-font-weight-bold;
  margin-bottom: 0.5em;
}

/*
 * ------------------------------------------------
 * Misc
 * ------------------------------------------------
 */

hr {
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: px2rem(1) solid $color-gray;
  margin: 4rem auto;
}
