/*
 * Fonts
 */

@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=IBM+Plex+Serif:ital@0;1&display=swap';

// @font-face {
//   font-display: swap;
//   font-family: 'Lato';
//   font-style: normal;
//   font-weight: normal;
//   src: url('~assets/fonts/Lato-Regular.ttf') format('truetype');
// }
