/*
 * Fonts
 */

@font-face {
  font-display: swap;
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/Lato-Regular.ttf') format('truetype');
}
