/*
 * Tools – Mixins
 */

/*
 * Hide visually
 * See http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * for discussion of different solutions
 */
@mixin visually-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

@mixin visually-hidden-reset() {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

@mixin visually-hidden-focusable() {
  @include visually-hidden;

  &:focus,
  &:active {
    @include visually-hidden-reset;
  }
}

/*
 * Lists with layout purpose
 */
@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style: none;
}

/*
 * Reset button
 */
@mixin reset-button() {
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  appearance: none;
}

/*
 * Reset Link
 */
@mixin reset-link() {
  color: $s-color-text;
  cursor: pointer;

  &:hover {
    color: $s-color-primary;
  }
}

/*
 * Hocus Focus
 */
@mixin hocus-focus($type: outline, $color: $s-color-primary, $offset: 1rem) {

  // reset firefox dotted outline
  &::-moz-focus-inner { // sass-lint:disable-line no-vendor-prefixes
    border: 0;
  }

  @if $type==outline {
    [data-whatintent='keyboard'] &:focus {
      outline: 1px solid $color;
      outline-offset: $offset;
    }

    [data-whatintent='mouse'] &:focus {
      outline: 0; // clearing dotted line when using the mouse
    }
  } @else if $type==bgcolor {
    [data-whatintent='keyboard'] &:focus {
      background-color: $color;
    }
  }
}

/*
 * WordWrap
 */
@mixin word-wrap($break: true) {
  hyphens: auto;

  @if $break==true {
    word-wrap: break-word;
    word-break: break-word;
  }
}

/*
 * Set-Gutter
 * @Params: small | medium | large | full-width
 */
@mixin set-gutter($size: 'small') {
  @if ($size == 'small') {
    width: 100%;
    padding: 0 $s-size-gutter-small;

    @include mq($from: medium) {
      padding: 0 $s-size-gutter-medium;
      max-width: px-to-rem($s-size-content-max-width-small) + 2 * ($s-size-gutter-medium);
      margin-left: auto;
      margin-right: auto;
    }
  } @else if ($size == 'medium') {
    width: 100%;
    padding: 0 $s-size-gutter-small;

    @include mq($from: medium) {
      padding: 0 $s-size-gutter-medium;
      max-width: px-to-rem($s-size-content-max-width-medium) + 2 * ($s-size-gutter-medium);
      margin-left: auto;
      margin-right: auto;
    }
  } @else if ($size == 'large') {
    width: 100%;
    padding: 0 $s-size-gutter-small;

    @include mq($from: medium) {
      padding: 0 $s-size-gutter-medium;
      max-width: px-to-rem($s-size-content-max-width-large) + 2 * ($s-size-gutter-medium);
      margin-left: auto;
      margin-right: auto;
    }
  } @else if ($size == 'full-width') {
    width: 100%;
    max-width: 100%;
    padding: 0;

    @include mq($from: medium) {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
}
