/*
 * Tools – Typography
 */

@mixin font-style-base {
  font-family: $s-font-family-base;
  font-size: $s-fz-14;
  font-weight: normal;
  line-height: $s-line-height-std;
  letter-spacing: normal;
}

@mixin font-style-paragraph {
  @include font-style-base;
  font-family: $s-font-family-serif;
}

@mixin font-style-heading-1 {
  @include font-style-base;
  font-size: $s-fz-30;
  font-weight: $s-font-weight-bold;
}
