/*
 * z-indices / z-index
 */

@function z($indices...) {
  @if not map-has-nested-keys($s-zindex-map, $indices...) {
    @warn 'No index found for `#{inspect($indices...)}` in $s-zindex-map map. Property omitted.';
  }
  @return map-deep-get($s-zindex-map, $indices...);
}

@function map-has-nested-keys($map, $keys...) {
  @each $key in $keys {
    @if not map-has-key($map, $key) {
      @return false;
    }
    $map: map-get($map, $key);
  }
  @return true;
}

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$s-zindex-map: (
  'header': 100
) !default;
