/*
 * Mediaqueries (aka sass-mq)
 * https://github.com/sass-mq/sass-mq
 *
 * Use mq mixin like `@include mq($from: medium) {}`
 * https://sass-mq.github.io/sass-mq/#undefined-mixin-mq
 * -> See _mediaqueries.scss for more config
 *
 * Breakpoints definition:
 * -> See 'configs/breakpoints.mjs'
 */

@use 'variables' as *;
@use 'globals' as *;
@use 'breakpoints' as *;
@use 'functions' as *;

@forward '../vendors/sass-mq' with (
  $mq-breakpoints: $breakpoints,
  $mq-responsive: true,
  $mq-static-breakpoint: large,
  $mq-show-breakpoints: create-debug-breakpoints-list($breakpoints, $should-show: $debug-breakpoints)
);
