/*
 * Variables
 */

/*
 * Font Settings
 */

/* Font-Families */
$s-font-family-base: 'IBM Plex Sans', sans-serif;
$s-font-family-serif: 'IBM Plex Serif', serif;
$s-font-family-monospace: 'IBM Plex Mono', monospace;

/* Font-Sizes */
$s-fz-14: 1.4rem; // equals 14px
$s-fz-16: 1.6rem;
$s-fz-18: 1.6rem;
$s-fz-22: 2.2rem;
$s-fz-30: 3rem;

/* Line-Heights */
$s-line-height-std: 1.3;

/* Line-Weights */
$s-font-weight-std: 400;
$s-font-weight-bold: 700;

/*
 * Spacings
 */

/* Size-Spacer */
$s-size-spacer-20: 2rem;
$s-size-spacer-40: 4rem;

/* Size-Gutter */
$s-size-gutter-small: $s-size-spacer-20;
$s-size-gutter-medium: $s-size-spacer-40;
$s-size-gutter-large: $s-size-spacer-40 * 2;

/* Size-Content-Max-Width */
$s-size-content-max-width-small: $s-fz-14 * 30; // Optical good readable text width
$s-size-content-max-width-medium: 1100px;
$s-size-content-max-width-large: 1440px;

/*
 * Animations
 */
$s-animation-duration-default: 0.3s;
$s-animation-easing-default: ease-in-out;

/*
 * Breakpoints
 * Use mq mixin like `@include mq($from: medium) {}`
 * https://sass-mq.github.io/sass-mq/#undefined-mixin-mq
 * -> See _mediaqueries.scss for more config
 *
 * Breakpoints definition:
 * -> See 'configs/breakpoints.json'
 */

// Import JSON data with node-sass-json-importer
@import '../../../configs/breakpoints.json';

// Assign breakpoints definition to settings variable:
// @debug $json-breakpoints;
$s-breakpoints: $json-breakpoints;

// Debug breakpoints: Display the currently active breakpoint in the top right corner
$s-debug-breakpoints: $is-dev-env;
