/*
 * Variables
 */

/*
 * Font Settings
 */

/* Font-Families */
$s-font-family-base: 'IBM Plex Sans', sans-serif;
$s-font-family-serif: 'IBM Plex Serif', serif;
$s-font-family-monospace: 'IBM Plex Mono', monospace;

/* Font-Sizes */
$s-fz-14: 1.4rem; // equals 14px
$s-fz-16: 1.6rem;
$s-fz-18: 1.6rem;
$s-fz-22: 2.2rem;
$s-fz-30: 3rem;
$s-fz-48: 4.8rem;

/* Line-Heights */
$s-line-height-std: 1.3;

/* Line-Weights */
$s-font-weight-std: 400;
$s-font-weight-bold: 700;

/* Border Radius */
$s-border-radius-default: 0.4rem;

/*
 * Spacings
 */

/* Size-Spacer */
$s-size-spacer-20: 2rem;
$s-size-spacer-40: 4rem;

/* Size-Gutter */
$s-size-gutter-small: $s-size-spacer-20;
$s-size-gutter-medium: $s-size-spacer-40;
$s-size-gutter-large: $s-size-spacer-40 * 2;

/* Size-Content-Max-Width */
$s-size-content-max-width-small: $s-fz-14 * 30; // Optical good readable text width
$s-size-content-max-width-medium: 720px;
$s-size-content-max-width-large: 1200px;

/*
 * Animations
 */
$s-animation-duration-default: 0.3s;
$s-animation-easing-default: ease-in-out;
