// sass-lint:disable indentation
@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/Newsreader-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
}
