@import '~normalize-scss/sass/normalize';

/*
 * Basic resets on top of normalize-scss – https://github.com/JohnAlbin/normalize-scss.
 */

blockquote,
body,
caption,
dd,
dl,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
legend,
ol,
p,
pre,
table,
td,
th,
ul {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/*
 * Remove trailing margins from nested lists.
 */
li > {
  ol,
  ul {
    margin-bottom: 0;
  }
}

/*
 * Remove spaces between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

input {
  line-height: inherit;
}

/*
 * Removing abbr border
 */
abbr {
  &[title] { /* stylelint-disable-line selector-no-qualifying-type */
    border-bottom: 0;
  }
}
