/*
 * Generic – Page
 */

html {
  @include word-wrap;
  height: 100%;
  font-family: $s-font-family-base;
  font-size: (100% / 1.6); // now 1rem equals 10px
  font-weight: normal;
  line-height: $s-line-height-std;
  color: $s-color-text;
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  -webkit-text-size-adjust: none; // sass-lint:disable-line no-vendor-prefixes
  font-feature-settings: 'liga'1, 'kern'1;
  font-kerning: normal;
  box-sizing: border-box;
}

body {
  font-size: $s-fz-14;
  min-height: 100%;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

/*
 * Elements
 */

h1 {
  @include font-style-heading-1;
}

p {
  @include font-style-base;
  @include font-style-paragraph;
  margin-bottom: 1em;
}

a {
  @include reset-link;
}

ul {
  @include reset-list;
}
