@import '@/assets/scss/main';

.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

h1 {
  font-size: $s-fz-14;
  margin-bottom: $s-size-spacer-20;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
