$c: 'TheCraftNavigation';

.#{$c} {
  @include set-gutter('full-width');
  margin-bottom: $s-size-spacer-40;
  transition: background-color $s-animation-duration-default;

  @include mq($until: medium) {
    background-color: $s-color-secondary;
  }

  &__sub-list {
    margin-left: $s-size-spacer-20;
  }

  &__link {
    text-decoration: none;

    &.nuxt-link-active {
      color: $s-color-primary;
    }

    &.nuxt-link-exact-active {
      text-decoration: underline;
    }
  }
}
