$c: 'TheCraftNavigation';

.#{$c} {
  margin-bottom: 2rem;
  z-index: z('nav');

  &__link {
    text-decoration: none;

    &.nuxt-link-active {
      color: $color-primary;
    }

    &.nuxt-link-exact-active {
      text-decoration: underline;
    }
  }
}
