@use '~assets/scss/abstracts/' as *;

$c: 'ThePreviewIndicator';

.#{$c} {
  @include font-style-small;

  background-color: rgba($color-secondary, 0.25);
  color: rgba($color-dark, 0.75);
  left: 0;
  padding: 0.75rem 0;
  pointer-events: none;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: z('previewIndicator');
}
